* {
  box-sizing: border-box;
  margin: 0;
}

[v-cloak] {
  display: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

code {
  background: #eee;
  border-radius: .3rem;
  font-family: Menlo, Monaco, Consolas,"Courier New", monospace;
  font-size: 85%;
}

iframe {
  border: 0;
  height: 100%;
  width: 100%;
}

p {
  margin-bottom: 1em;
}
/* Font title stack: Permanent Marker, Shadows into Light, VT323, Pacifico, Amatic SC, Cookie, Fedroka One, Sacramento*/

/* Font copy stack: georgia, Cormorant Garamond, Lora, merriweather*/

header {
  align-items: center;
  background: white;
  color: #888;
  display: flex;
  font-size: 1rem;
  height: 4.7rem;
  padding: 0 2rem;
  letter-spacing: .4rem;
}

@media (min-width: 900px) {

}

  .toc-cta {
    background: transparent;
    border: 0;
    font-family: "Roboto", sans-serif;
    padding: .5rem .9rem .4rem .7rem;
    transition: background-color .3s;
  }

  .toc-cta:hover {
    background: rgba(231, 231, 231, 0.5);
    border-radius: .3rem;
  }

  .logo {
    align-items: center;
    display: flex;
    text-decoration: none;
  }

  .logo-title {
    color: #888;
    font-size: 1rem;
    margin-left: 1rem;
    letter-spacing: .4rem;
  }

  .score {
    margin-left: auto;
  }

#backdrop {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#toc {
  background: white;
  border-right: .1rem solid #ccc;
  bottom: 0;
  box-shadow: .4rem 0 .6rem .1rem rgba(0, 0, 0, .1);
  color: black;
  height: 100vh;
  left: 0;
  max-width: 48ch;
  overflow: auto;
  padding: 1rem;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform .3s;
  z-index: 2;
}

  #toc.active {
    transform: translateX(0);
  }

  .toc-group,
  .toc-item {
    font-size: 1rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
  }

  .toc-group {
    color: #888;
    font-weight: 400;
    padding: 1rem;
  }

  .toc-items {
    padding: .5rem;
  }

    .toc-items.active {
      display: block;
    }

  .toc-item {
    align-items: center;
    display: flex;
    list-style: none;
    padding: .5rem;
  }

  .toc-item::before {
    background: black;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 1rem;
    margin-bottom: .1rem;
    margin-right: 1rem;
    transform: scale(.5);
    transition: transform .2s;
    width: 1rem;
  }

    .toc-item:hover::before,
    .toc-item.active::before {
      transform: scale(.9);
    }

    .toc-item.active {
      font-weight: 900;
    }

  .toc-link {
    color: black;
    text-decoration: none;
    width: 100%;
  }

#subject {
  align-items: center;
  background: #fff;
  color: #000;
  display: flex;
  height: calc(100vh - 4.7rem);
  justify-content: center;
  flex-direction: column;
  font-family: 'Loved by the King', cursive;
  /* font-family: 'Lora', serif; */
}

  .subject-title {
    font-size: 6rem;
    font-weight: 400;
    line-height: 4rem
  }

  .subject-subtitle {
    font-size: 4rem;
    font-weight: 400;
  }

#explanation {
  font-family: Lora, serif;
  font-size: 2.4rem;
  line-height: 1.618;
  margin: 5rem 0 10rem 10rem;
  max-width: 50ch;
}

#workspace {
  display: flex;
  position: relative;
}

  #code {
    border: 1px solid #efefef;
    height: 92vh;
    width: calc(50vw - 2px);
  }

  #preview {
    background: #eee;
    height: 92vh;
    width: calc(50vw - 2px);
  }

  .reset-code {
    bottom: 1rem;
    color: #888;
    font-family: Menlo, Monaco, Consolas,"Courier New", monospace;
    position: absolute;
    right: 1rem;
    z-index: 1;
  }

#result {
  align-items: center;
  background: #4885ed;
  color: white;
  display: flex;
  font-size: 1rem;
  height: 8vh;
  justify-content: center;
  letter-spacing: .4rem;
  text-transform: uppercase;
}

  #result.success {
    background: #3cba54;
  }

/* Helper classes */
.blur {
  filter: blur(.5rem);
}
